@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,900);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, body footer, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, body footer, hgroup, menu, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  background-image: url(../asfalt.png);
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
}

body {
  height: auto;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
body header, body footer {
  height: 100px;
  width: 100%;
  text-align: right;
  background-color: darkgreen;
  border: 2px solid lightgreen;
  border-radius: 10px 10px 0 0;
}
body header a, body footer a {
  font-size: 400%;
  line-height: 1.5;
  padding: 8px 15px 9px 15px;
  color: lightgreen;
}
body header a:hover, body footer a:hover {
  color: white;
}
body #tilecontainer {
  height: auto;
  width: 100%;
  margin: 7px 0;
  background-color: darkgreen;
}
body #tilecontainer nav#admin {
  border: 2px solid lightgreen;
  height: auto;
  width: 100%;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 5px;
  padding-left: 10px;
}
body #tilecontainer nav#admin a.tile {
  height: 350px;
  height: calc(49vh - 78.5px);
  width: 22vw;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 15px;
  border: 2px solid lightgreen;
  vertical-align: top;
  color: darkgreen;
  border-radius: 10px;
  background-color: lightgreen;
}
body #tilecontainer nav#admin a.tile div.tileimage, body #tilecontainer nav#admin a.tile #prodimage, body #tilecontainer nav#admin a.tile #custimage, body #tilecontainer nav#admin a.tile #suppimage, body #tilecontainer nav#admin a.tile #orderimage, body #tilecontainer nav#admin a.tile #countryimage, body #tilecontainer nav#admin a.tile #catimage, body #tilecontainer nav#admin a.tile #unitimage, body #tilecontainer nav#admin a.tile #statimage {
  height: 80%;
  height: calc(100% - 75px);
  width: 100%;
  background-size: cover;
  border-radius: 6.5px 6.5px 0 0;
}
body #tilecontainer nav#admin a.tile p {
  height: 75px;
  border-top: 2px solid lightgreen;
  padding-top: 25px;
  font-size: 150%;
  font-weight: 700;
  border-radius: 0 0 7px 7px;
}
body #tilecontainer nav#admin a.tile #prodimage {
  background-image: url(http://verkeersbureaus.info/wp-content/uploads/2015/05/neusaap-bagik-apenheul.jpg);
  background-position: center top;
}
body #tilecontainer nav#admin a.tile #custimage {
  background-image: url(https://kajenjoeri.files.wordpress.com/2012/09/aapje1.jpg);
  background-position: center top;
}
body #tilecontainer nav#admin a.tile #suppimage {
  background-image: url(https://www.askideas.com/media/10/Monkey-With-Funny-Hairstyle.jpg);
  background-position: center top;
}
body #tilecontainer nav#admin a.tile #orderimage {
  background-image: url(http://dmphotoprovider4.demorgen-cdn.be/photo/aap-is-slimmere-shopper-dan-mens/OTU4NC9heC81ODU4NjAyNy82NDJ4OTk5L0ZU/642x999_58586027.jpg?ck=7320655&v=poTZBLF);
  background-position: center top;
}
body #tilecontainer nav#admin a.tile #orderimage {
  background-image: url(http://dmphotoprovider4.demorgen-cdn.be/photo/aap-is-slimmere-shopper-dan-mens/OTU4NC9heC81ODU4NjAyNy82NDJ4OTk5L0ZU/642x999_58586027.jpg?ck=7320655&v=poTZBLF);
  background-position: center top;
}
body #tilecontainer nav#admin a.tile #countryimage {
  background-image: url(https://i.ytimg.com/vi/biYqcazTL2w/maxresdefault.jpg);
  background-position: center bottom;
}
body #tilecontainer nav#admin a.tile #catimage {
  background-image: url(http://cdn.pcwallart.com/images/funny-baby-monkey-wallpaper-2.jpg);
  background-position: center top;
}
body #tilecontainer nav#admin a.tile #unitimage {
  background-image: url(http://www.funny-animalpictures.com/media/content/items/images/funnymonkeys0036_O.jpg);
  background-position: center top;
}
body #tilecontainer nav#admin a.tile #statimage {
  background-image: url(https://s-media-cache-ak0.pinimg.com/564x/25/b2/b7/25b2b720a49804f03993fbf899553a00.jpg);
  background-position: center;
}
body #tilecontainer nav#admin a.tile:hover, body #tilecontainer nav#admin a.tile:hover > p {
  color: lightgreen;
  border-color: lightgreen;
  background-color: darkgreen;
}
body footer {
  text-align: center;
  padding-top: 35px;
  font-size: 200%;
  color: lightgreen;
  border-radius: 0 0 10px 10px;
}

.log {
  padding: 10px;
  width: auto;
  margin-left: 25px;
  margin-top: 15px;
  margin-bottom: 5px;
  cursor: pointer;
}

.logbook {
  display: none;
  margin: 15px;
  color: lightgreen;
}

.selectIcon {
  height: 35px;
  padding: 0px 25px 0px 25px;
}

article {
  height: auto;
  width: 100%;
  background-color: darkgreen;
  border: 2px solid lightgreen;
  margin: 7px 0;
  padding-top: 15px;
  padding-bottom: 15px;
}
article form {
  width: 100%;
  height: auto;
  display: inline-block;
}
article form nav {
  width: calc(100% - 545px);
  border: 3px double lightgreen;
  display: inline-block;
  margin-left: 10px;
}
article form nav h1 {
  font-size: 200%;
  color: lightgreen;
  width: auto;
  height: 60px;
  padding: 7px;
  display: inline-block;
}
article form nav #controls {
  float: right;
  display: inline-block;
  text-align: center;
  font-size: 0;
}
article form nav #controls button {
  height: 60px;
  width: 83px;
  cursor: pointer;
  display: inline-block;
}
article form nav #controls a {
  vertical-align: bottom;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 1px;
  height: 58.5px;
  width: 83px;
  background-color: lightcoral;
  border: 1px solid buttonface;
  color: buttontext;
  line-height: 3.7;
}
article form #readingalles {
  display: inline-block;
  width: 511px;
  float: right;
  vertical-align: top;
  height: auto;
  margin-right: 15px;
}
article form #readingalles table {
  width: 100%;
  height: auto;
  color: lightgreen;
  border: 3px double lightgreen;
  text-align: center;
}
article form #readingalles table th {
  font-size: 200%;
  border: 1px solid lightgreen;
  padding: 5px;
}
article form #readingalles table tr, article form #readingalles table td {
  border: 1px solid lightgreen;
  width: auto;
}
article form #readingalles table td {
  padding-bottom: 7px;
  vertical-align: bottom;
}
article form #readingalles table td:first-child {
  background-color: whitesmoke;
  border: 1px solid green;
  vertical-align: bottom;
  padding-bottom: 0px;
}
article form #readingorderitems {
  display: inline-block;
  height: auto;
  margin-left: 10px;
}
article form #readingorderitems table {
  width: 100%;
  height: auto;
  color: lightgreen;
  border: 3px double lightgreen;
  text-align: center;
}
article form #readingorderitems table th {
  font-size: 200%;
  border: 1px solid lightgreen;
  padding: 5px;
}
article form #readingorderitems table tr, article form #readingorderitems table td {
  border: 1px solid lightgreen;
  width: auto;
}
article form #readingorderitems table td {
  padding-bottom: 7px;
}
article form #readingorderitems table td .selectbutton, article form #readingorderitems table td .oitemsbtn {
  display: inline-block;
  width: 75%;
  min-width: 65px;
  height: 30px;
  margin-top: 7px;
  padding-bottom: 0;
  cursor: pointer;
}
article form #readingorderitems table td label {
  margin-top: 0;
  margin-top: 10px;
  margin-bottom: 0;
}
article form #readingorderitems table td .oitemsbtn {
  width: 50%;
  min-width: 65px;
}
article form #readingorderitems table td.handje:first-child {
  background-color: whitesmoke;
  border: 1px solid green;
  vertical-align: bottom;
  padding-bottom: 0px;
}
article form #content {
  width: calc(100% - 560px);
  float: left;
}
article form #content h2 {
  width: 100%;
  border: 3px double lightgreen;
  display: inline-block;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: -10px;
  font-size: 200%;
  color: lightgreen;
  height: 60px;
  line-height: 1.6;
  text-align: center;
}
article form #content .insorderitemsbtn {
  float: right;
  display: inline-block;
  height: 100%;
  padding: 0 20px;
  cursor: pointer;
}
article form #content div {
  display: inline-block;
  width: 100%;
  margin: 5px 0px 10px 10px;
}
article form #content div input {
  width: 50%;
  display: block;
}
article form #content div input[type=number] {
  width: 65px;
}
article form #content div label {
  display: block;
  margin-bottom: 5px;
  color: lightgreen;
}
article form #content div select {
  width: 300px;
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
